.header__body {
    top: 10px;
    width: 1500px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(137, 43, 226, 0.337);
    border-radius: 30px;
    position: fixed;
}

.header__logo {
    width: 125px;
    color: black;
    font-family: sans-serif;
    font-size: large;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 50px;
}

.nav__link {
    display: flex;
    align-items: center;
    color: #000;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    position: relative;
}


.div{
    left: -45px;
    top: 150px;
    border: 2px solid #00000086;
    position: absolute;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.578);
    border-radius: 15px;
    overflow: hidden;
    transform: translateY(-100px);
    transition: 0.7s;
    opacity: 0;
}

.div:hover{
    opacity: 1;
    transition: 0.7s;
}


.div__box {
    transition: 0.7s;
    transform: translateY(-100px);
}

.div:hover .div__box{
    transform: translateY(0px);
}

.box__txt {
    padding: 3px;
    color: rgb(0, 0, 0);
}

.box {
    top: 300px;
    width: 400px;
    height: 400px;
    border: 3px solid #000;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    transition: 0.7s;
}

.box:hover .box__inside{
    right: 50px;
    transition: 0.7s;
}

.box__inside {
    transition: 0.7s;
    position: absolute;
    top: 200px;
    right: 100%;
    width: 150px;
    height: 150px;
    background-color: blue;
}

.message {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: rgba(0, 128, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 30px;
    bottom: 50px;
}

.message__icon {
    color: rgba(255, 255, 255, 0.751);
    font-size: 40px;
}


.music {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: rgba(0, 32, 128, 0.581);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 1420px;
    bottom: 400px;
    transition: 0.7s;
}

.music__icon {
    color: rgba(255, 255, 255, 0.712);
    font-size: 40px;
}

.music:hover{

}

.music__song {
    transition: 0.7s;
}

